html{
color:white;
  background-color:green;
}



body {
border:solid;
} 

.titulo {
border:5px solid;
  color: white;
  background-color: #1eff00;
  border-color: white;
  width:auto;
  Font-family:Open Sans;
  display: flex;
  flex-direction:column;
  align-items:center;
}

contenido {
  display: flex;
  flex-direction:column;
  align-items:center;
}

botton {
  background-color: whitesmoke;
  color:#1eff00;
}
.contenido a{
  color:#1eff00;
}


img{
  max-height:30%;
  max-width:40%;
  align-self:center;
  display: flex;
  flex-direction:column;
  margin-bottom:0%;
  border:solid;
}

a{
  text-decoration:none;
}


